{{!
    This is the mustache for the time block container.
    @template block_time/clock
    This template renders the entire block content.
}}

<div class="block-time-container container">
    <div class="block-time-clock">
        <div class="block-time-hand block-time-hour" data-hour-hand></div>
        <div class="block-time-hand block-time-minute" data-minute-hand></div>
        <div class="block-time-hand block-time-second" data-second-hand></div>
        <div class="block-time-number-container block-time-number1-container">
            <div class="block-time-number block-time-number1">{{#str}} number1, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number2-container">
            <div class="block-time-number block-time-number2">{{#str}} number2, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number3-container">
            <div class="block-time-number block-time-number3">{{#str}} number3, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number4-container">
            <div class="block-time-number block-time-number4">{{#str}} number4, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number5-container">
            <div class="block-time-number block-time-number5">{{#str}} number5, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number6-container">
            <div class="block-time-number block-time-number6">{{#str}} number6, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number7-container">
            <div class="block-time-number block-time-number7">{{#str}} number7, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number8-container">
            <div class="block-time-number block-time-number8">{{#str}} number8, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number9-container">
            <div class="block-time-number block-time-number9">{{#str}} number9, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number10-container">
            <div class="block-time-number block-time-number10">{{#str}} number10, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number11-container">
            <div class="block-time-number block-time-number11">{{#str}} number11, block_time {{/str}}</div>
        </div>
        <div class="block-time-number-container block-time-number12-container">
            <div class="block-time-number block-time-number12">{{#str}} number12, block_time {{/str}}</div>
        </div>
    </div>
</div>

